# This .env file can be used with Docker Compose to start containerized instances of the application's services.

# Password for the root database user
CELLNOOR_DB_ROOT_PASSWORD=""

# The password cellnoor-api uses to connect to the database (as the user "cellnoor_api")
CELLNOOR_API_DB_PASSWORD=""

# The database name
CELLNOOR_DB_NAME=""

# OpenID/OAuth configuration
CELLNOOR_MICROSOFT_ENTRA_CLIENT_ID=""
CELLNOOR_MICROSOFT_ENTRA_CLIENT_SECRET=""
CELLNOOR_MICROSOFT_ENTRA_TENANT=""
CELLNOOR_AUTH_SECRET=""

# The password with which cellnoor-ui connects to the database (as the user "cellnoor_ui")
CELLNOOR_UI_DB_PASSWORD=""

# Path on host from which docker will copy data into /run/secrets/initial-data in the cellnoor-api container
CELLNOOR_INITIAL_DATA_PATH=""

# Path on host where TLS certificate and key are located
CELLNOOR_TLS_CERTIFICATE_PATH=""
CELLNOOR_TLS_KEY_PATH=""
