# For dev, you need this .env file to supply Microsoft Entra secrets
CELLNOOR_AUTH__MICROSOFT_ENTRA_TENANT_ID=""
CELLNOOR_AUTH__MICROSOFT_ENTRA_CLIENT_ID=""
CELLNOOR_AUTH__MICROSOFT_ENTRA_CLIENT_SECRET=""
