# This .env file can be used with `scripts/dev/start-api.sh` and `scripts/dev/start-ui.sh` during development to start
# serve the application's services over unencrypted HTTP

CELLNOOR_DB_HOST="localhost"
CELLNOOR_DB_PORT="5433"
CELLNOOR_DB_NAME="postgres"

# Where cellnoor-api will serve
CELLNOOR_API_HOST="localhost"
CELLNOOR_API_PORT=8000

# For running locally, cellnoor-ui needs to know cellnoor-api's URL
CELLNOOR_API_URL="http://localhost:8000/api"

# OpenID/OAuth configuration
CELLNOOR_MICROSOFT_ENTRA_CLIENT_ID=""
CELLNOOR_MICROSOFT_ENTRA_CLIENT_SECRET=""
CELLNOOR_MICROSOFT_ENTRA_TENANT=""
CELLNOOR_AUTH_SECRET=""

# The password cellnoor-ui uses to connect to the database (as the user "cellnoor_ui")
CELLNOOR_UI_DB_PASSWORD=""

# Path from which to read initial data that cellnoor-api will insert into db
CELLNOOR_CONFIG_DIR=""
