# Because `docker compose` can be kind of heavy, you might want to use this `.env` file with the following 4 scripts to
# start the application (over unencrypted HTTP):
# ./scripts/dev/start-api.sh
# ./scripts/dev/start-auth.sh
# ./scripts/dev/start-ui.sh
# ./scripts/dev/start-file-server.sh

# Database passwords for the db users "app", "auth", and  "postgres". Some of these have to be repeated for correct
# parsing in the application
CELLNOOR_APP_DB_PASSWORD=""
CELLNOOR_APP__DB__PASSWORD=""
CELLNOOR_AUTH_DB_PASSWORD=""
CELLNOOR_AUTH__DB_PASSWORD=""
CELLNOOR_ROOT_DB_PASSWORD=""

# cellnoor-auth configuration
CELLNOOR_AUTH__MICROSOFT_ENTRA_TENANT_ID=""
CELLNOOR_AUTH__MICROSOFT_ENTRA_CLIENT_ID=""
CELLNOOR_AUTH__MICROSOFT_ENTRA_CLIENT_SECRET=""

# Configuration that's common between the services
CELLNOOR__AUTH_SECRET=""

CELLNOOR__PUBLIC_FILES_URL="http://files.cellnoor.localhost"
CELLNOOR__PUBLIC_AUTH_URL="http://auth.cellnoor.localhost"
