# You can copy this file into .env.compose, fill in the missing values, and use it to start a dev instance of the
# application using ./scripts/dev/compose-up.sh. This configuration is simpler because the compose.yaml file handles
# much of it

# Database passwords for the db users "app" and "postgres"
CELLNOOR_APP_DB_PASSWORD=""
CELLNOOR_ROOT_DB_PASSWORD=""
CELLNOOR_AUTH_DB_PASSWORD=""

# cellnoor-auth configuration
CELLNOOR_MICROSOFT_ENTRA_TENANT_ID=""
CELLNOOR_MICROSOFT_ENTRA_CLIENT_ID=""
CELLNOOR_MICROSOFT_ENTRA_CLIENT_SECRET=""

# Configuration that's common between the services
CELLNOOR_AUTH_SECRET=""

# Where to serve all the services
CELLNOOR_AUTH_URL="auth.cellnoor.jax.org"
CELLNOOR_API_URL="api.cellnoor.jax.org"
CELLNOOR_FILES_URL="files.cellnoor.jax.org"
CELLNOOR_UI_URL="app.cellnoor.jax.org"
