# This .env file can be used with `scripts/dev/start-api.sh`, `./scripts/dev/start-auth.sh`, and
# `scripts/dev/start-ui.sh` during development to serve cellnoor over unencrypted HTTP

# Database passwrods for the db users "app" and "postgres"
CELLNOOR_APP_DB_PASSWORD="p"
CELLNOOR_ROOT_DB_PASSWORD="p"

# cellnoor API configuration
CELLNOOR_DB_URL="postgres://app:p@localhost:5432/postgres"
CELLNOOR_LISTEN_ON="localhost:8000"
CELLNOOR_RAW_FILES_URL="localhost:8000/files"

# cellnoor-auth configuration
CELLNOOR_AUTH_SECRET=""
CELLNOOR_AUTH_MICROSOFT_ENTRA_TENANT_ID="common"
CELLNOOR_AUTH_MICROSOFT_ENTRA_CLIENT_ID=""
CELLNOOR_AUTH_MICROSOFT_ENTRA_CLIENT_SECRET=""
CELLNOOR_AUTH_PUBLIC_AUTH_URL="http://localhost:3000"
CELLNOOR_AUTH_PUBLIC_API_URL="http://localhost:8000"
CELLNOOR_AUTH_PUBLIC_UI_URL="http://localhost:5173"
CELLNOOR_AUTH_DB_PASSWORD="p"
CELLNOOR_AUTH_DB_HOST="localhost"
CELLNOOR_AUTH_DB_NAME="postgres"
