api.{$CELLNOOR_CADDY__PUBLIC_BASE_URL} {
    encode
    {$CELLNOOR_CADDY__TLS_SETTINGS}
    reverse_proxy unix+h2c/{$CELLNOOR_CADDY__API_SOCKET}
}

{$CELLNOOR_CADDY__PUBLIC_BASE_URL} {
    encode
    {$CELLNOOR_CADDY__TLS_SETTINGS}

    handle /api/auth/* {
        reverse_proxy unix/{$CELLNOOR_CADDY__AUTH_SOCKET}
    }

    handle /api/* {
        reverse_proxy unix+h2c/{$CELLNOOR_CADDY__API_SOCKET}
    }

    handle_path /files/* {
        root {$CELLNOOR_CADDY__STATIC_FILES_DIR}

        forward_auth unix+h2c/{$CELLNOOR_CADDY__API_SOCKET} {
            uri /file-auth{path}
        }

        file_server browse {
            precompressed
        }
    }

    handle {
        root {$CELLNOOR_CADDY__UI_DIR}
        try_files {path}
        file_server
    }
}
