{$PUBLIC_AUTH_URL} {
    encode
    {$TLS_SETTINGS}
    reverse_proxy unix/{$AUTH_SOCKET}
}

{$PUBLIC_API_URL} {
    encode
    {$TLS_SETTINGS}
    reverse_proxy unix+h2c/{$API_SOCKET}
}

{$PUBLIC_UI_URL} {
    encode
    {$TLS_SETTINGS}
    reverse_proxy /* unix/{$UI_SOCKET}
}

{$PUBLIC_FILES_URL} {
    encode
    {$TLS_SETTINGS}

    forward_auth unix+h2c/{$API_SOCKET} {
        uri /api/files/forward-auth
    }

    root {$STATIC_FILES_DIR}
    file_server browse {
        precompressed
    }
}
